.view {
  display: flex;
  flex-direction: row;
  height: 90dvh;
  padding: 10px;
  gap: 10px;
}

.graph {
  display: block;
  width: 70%;
}

.inputs {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.button-pair {
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;

  button {
    flex: 1;
  }
}

.card-function {
  margin: 20px;
  padding: 10px;
  height: 19dvh;
  justify-content: center;
}

.title {
  font-weight: bold;
}

.text {
  text-align: center;
}