.view {
  display: flex;
  flex-direction: row;
  height: 100dvh;
  padding: 10px;
}

.graph {
  display: block;
  width: 70%;
}

.inputs {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.button-pair {
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;

  button {
    flex: 1;
  }
}