<div class="view">
  <div>
    <form (ngSubmit)="addData()">
      <span class="buttons">
        <span class="button-pair">
          <button mat-stroked-button type="button" (click)="addPair()">Add Pair</button>
          <button mat-stroked-button type="button" (click)="removePair()">Remove Pair</button>
        </span>
        <span class="button-pair">
          <button mat-stroked-button type="submit">Update Chart</button>
          <button mat-stroked-button type="button" (click)="resetChart()">Reset Chart</button>
        </span>
      </span>
      @for (pair of dataPairs; track pair; let i = $index) {
        <span class="inputs">
          <mat-form-field>
            <mat-label>X {{i + 1}}</mat-label>
            <input matInput type="number" [(ngModel)]="pair.x" name="x{{i}}" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Y {{i + 1}}</mat-label>
            <input matInput type="number" [(ngModel)]="pair.y" name="y{{i}}" required>
          </mat-form-field>
        </span>
      }
    </form>
  </div>

  <div class="graph">
    <canvas #canvas></canvas>
  </div>

</div>

<router-outlet />